name: {{implementation_name.snakeCase()}}_{{client_name.snakeCase()}}_client
description: {{implementation_name.pascalCase()}} implementation of {{client_name.pascalCase()}}Client
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  {{client_name.snakeCase()}}_client:
    path: ../{{client_name.snakeCase()}}_client
  equatable: ^2.0.3
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.2
  test: ^1.21.4
  very_good_analysis: ^10.0.0
