name: {{repository_name.snakeCase()}}_repository
description: A repository for managing {{repository_name.lowerCase()}} data
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  equatable: ^2.0.3
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.2
  test: ^1.21.4
  very_good_analysis: ^10.0.0
